a.navbar-brand {
   color: #DB3E00 !important;
}

.align-center{
   display: flex;
   align-items: center;
   justify-content: center;
}

.column-container {
   display: flex;
   flex-direction: column;
}

.patch-clickable {
   cursor: pointer;
   transition: transform ease 500ms;
}
.patch-clickable:hover {
   transform: scale(1.1);
}

button {
   border: 0;
   background-color: initial;
   transition: all ease 500ms;
}
.button:hover {
   background-color: lightgray;
}

.button-up {
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
}
.button-down {
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}
.button-left {
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
}
.button-right {
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
}




/* CSS grid utils */

.force-center {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.grid-right-align {
   justify-self: end;
}
.grid-left-align {
   justify-self: start;
}

.grid-top-align {
   align-self: start;
}

.grid-bottom-align {
   align-self: end;
}

.column-left {
   grid-column-start: 1;
   grid-column-end: 2;
}
.column-mid {
   grid-column-start: 2;
   grid-column-end: 3;
}
.column-right {
   grid-column-start: 3;
   grid-column-end: 4;
}

.row-top {
   grid-row-start: 1;
   grid-row-end: 2;
}
.row-mid {
   grid-row-start: 2;
   grid-row-end: 3;
}
.row-bottom {
   grid-row-start: 3;
   grid-row-end: 4;
}

body { min-height: 100%; }