.force-center {
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}
.layout-container {
   display: grid;
   grid-template-columns: 500px 500px 500px;
   grid-template-rows: 500px 500px 500px;
   /* TODO eventually can use this css zoom for some dead simple mobile support.. should I decide to support it */
   /* zoom: 50%; */
}

.grid-right-align {
   justify-self: end;
}
.grid-left-align {
   justify-self: start;
}

.grid-top-align {
   align-self: start;
}

.grid-bottom-align {
   align-self: end;
}
 
/* TODO migrate these into a global and reuse them on the MainView */
.column-left {
   grid-column-start: 1;
   grid-column-end: 2;
}
.column-mid {
   grid-column-start: 2;
   grid-column-end: 3;
}
.column-right {
   grid-column-start: 3;
   grid-column-end: 4;
}

.row-top {
   grid-row-start: 1;
   grid-row-end: 2;
}
.row-mid {
   grid-row-start: 2;
   grid-row-end: 3;
}
.row-bottom {
   grid-row-start: 3;
   grid-row-end: 4;
}

body { min-height: 100%; }